.container
{
    text-align: center;
    width: 80%;
    margin: 30px auto;
    
}

.dice
{
    display: inline-block;
    text-align: center;
    max-width: width 50px;
    max-height: height 50px;

}

.dice-image
{
    height: 100px;
    width: 100px;
}

.score{
    display: flex;
    border-bottom: 2px solid black;
    font-size: 1.5rem;
    color: red;
    justify-content: center;
}

