.container
{
    text-align: center;
    width: 1000px;
    margin: 80px auto;
    overflow: hidden;
    
}

.dice
{
    display: flex;
    text-align: center;
    height: 70px;
    width: auto;
    
}

