.container
{
    text-align: center;
    width: 80%;
    margin: 30px auto;
    
}

.dice
{
    display: inline-block;
    text-align: center;
    max-width: width 50px;
    max-height: height 50px;

}

.img1
{
    height: 100px;
    width: 100px;
}

.img2
{
    height: 100px;
    width: 100px;
}